* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

header {
  max-width: 1440px;
  height: 100vh;
}

.nav-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.nav-container ul {
  display: flex;
  list-style: none;
  align-items: center;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
.nav-container li {
  margin-right: 35px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
    }
}


@media screen and (min-width: 576px) and (max-width:992px) {
    .nav-container{
        flex-direction: column;
    }
}